<div class="row">
    <div class="span12 main">
    <h2>About Textizen</h2>
    <p>
    	Pandas and gradient backgrounds increase transparency in local government through Twitter and #gov20. Oswald font is great for communication through scotch and San Francisco for Claremont McKenna Director of Communication loafers and elbow pads. 
    </p>
    <h2>About Textizen</h2>
    <p>
    	Pandas and gradient backgrounds increase transparency in local government through Twitter and #gov20. Oswald font is great for communication through scotch and San Francisco for Claremont McKenna Director of Communication loafers and elbow pads. 
    </p>
    </div>
</div>