<div class="row">
    <div class="span12 main">
    <!--<h2>About Us</h2>
    <p>
    	Textizen is a powerful, inclusive, and delightfully simple system for citizen feedback in the digital age. Built by Code for America in partnership with the City of Philadelphia.
    </p>-->

    <h2>Our Team</h2>
    <div class="shoutout"><img class="biopic" src="/assets/bio-alex.jpg"><em>Alex Yule</em></div>
    <div class="shoutout"><img class="biopic" src="/assets/bio-michelle.jpg"><em>Michelle Lee</em></div>
    <div class="shoutout"><img class="biopic" src="/assets/bio-michelle.jpg"><em>Serena Wales</em></div>
    <div class="shoutout"><img class="biopic" src="/assets/bio-michelle.jpg"><em>Ben Sheldon</em></div>
	<div class="clearfix"></div>
    </p>

    <h2>Our Friends</h2>
    <div class="shoutout"><img class="biopic" src="/assets/bio-pcpc.png"><em>Philadelphia City Planning Commission</em></div>
    <div class="shoutout"><img class="biopic" src="/assets/bio-city.png"><em>Mayor's Office, City of Philadelphia</em></div>
    <div class="shoutout"><img class="biopic" src="/assets/bio-knight.jpg"><em>Knight Foundation</em></div>
    <div class="shoutout"><em>Circle Graphics</em></div>
    <div class="shoutout"><em>Code for America 2012 Fellows</em></div>
    <div class="clearfix"></div>

    <h2>We'd love to hear from you</h2>
    <p>
    	<span class="comment">Textizen in your city?</span>
    	<a href="">Get in touch</a>
    	<br>
    	<span class="comment">General info:</span>
    	<a href="mailto:textizen@codeforamerica.org">textizen@codeforamerica.org</a>
    	<br>
    	<span class="comment">Twitter</span>: <a href="http://twitter.com/textizen">@textizen</a>
    	<br>
    </p>
    </div>
</div>