<div class="row">
    <div class="span12 main">
    <!--<h2>About Us</h2>
    <p>
    	Textizen is a powerful, inclusive, and delightfully simple system for citizen feedback in the digital age. Built by Code for America in partnership with the City of Philadelphia.
    </p>-->

    <h2>Our Team</h2>
    <a href="http://twitter.com/yuletide"><div class="shoutout"><img class="biopic" src="/assets/bio-alex.jpg"><em>Alex Yule</em></div></a>

    <a href="http://twitter.com/mishmosh"><div class="shoutout"><img class="biopic" src="/assets/bio-michelle.jpg"><em>Michelle Lee</em></div></a>

    <a href="http://twitter.com/hannahdotyoung"><div class="shoutout"><img class="biopic" src="/assets/bio-hannah.jpg"><em>Hannah Young</em></div></a>

    <a href="http://twitter.com/joeycdy"><div class="shoutout"><img class="biopic" src="/assets/bio-joey.jpg"><em>Joey Cody</em></div></a>

	<div class="clearfix"></div>
    </p>

    <h2>Our Friends</h2>
    <a href="http://twitter.com/gangleton"><div class="shoutout"><img class="biopic" src="/assets/bio-serena.jpg"><em>Serena Wales</em></div></a>

    <a href="http://twitter.com/bensheldon"><div class="shoutout"><img class="biopic" src="/assets/bio-ben.jpg"><em>Ben Sheldon</em></div></a>

    <a href="http://twitter.com/angelk"><div class="shoutout"><img class="biopic" src="/assets/bio-angel.jpg"><em>Angel Kittiyachavalit</em></div></a>

    <a href="http://twitter.com/dianavtran"><div class="shoutout"><img class="biopic" src="/assets/bio-diana.jpg"><em>Diana Tran</em></div></a>

      <a href="http://twitter.com/ezoehunt"><div class="shoutout"><img class="biopic" src="/assets/bio-liz.jpg"><em>Elizabeth Hunt</em></div></a>

    <div class="clearfix"></div>

    <a href="http://www.phila.gov/mayor/"><div class="shoutout"><img class="biopic" src="/assets/bio-city.png"><em>Office of the Mayor, City of Philadelphia</em></div></a>
    
    <a href="http://philaplanning.org/"><div class="shoutout"><img class="biopic" src="/assets/bio-pcpc.png"><em>Philadelphia City Planning Commission</em></div></a>

    <a href="http://phila2035.org/"><div class="shoutout"><img class="biopic" src="/assets/bio-phila2035.png"><em>Philadelphia 2035</em></div></a>
    
    <a href="http://www.knightfoundation.org/communities/philadelphia/"><div class="shoutout"><img class="biopic" src="/assets/bio-knight.jpg"><em>Knight Foundation</em></div></a>

    <a href="http://www.tropo.com/"><div class="shoutout"><img class="biopic" src="/assets/bio-tropo.gif"><em>Tropo</em></div></a>

    <a href="http://www.circlegraphicsonline.com/"><div class="shoutout"><img class="biopic" src="/assets/bio-circle.png"><em>Circle Graphics</em></div></a>

    <a href="http://codeforamerica.org/"><div class="shoutout"><img class="biopic" src="/assets/bio-cfa.png"><em>Code for America</em></div></a>

    

    <div class="clearfix"></div>

    <h2>We'd love to hear from you</h2>
    <p>

    <span class="comment">Textizen in your city?</span>
    	&nbsp;<a href="https://docs.google.com/a/codeforamerica.org/spreadsheet/viewform?formkey=dG5DSHh0alFJUmt0aUhQSUU3NTd3LWc6MQ#gid=0">Get in touch</a>
    	<br>
    	<span class="comment">General info:</span>
    	&nbsp;<a href="mailto:textizen@codeforamerica.org">textizen@codeforamerica.org</a>
    	<br>
        </div>

    </p>
    </div>
</div>

