<div class="row">
    <div class="span12 main">
    <h2>About Us</h2>
    <p>
    	Textizen is a powerful, inclusive, and delightfully simple system for citizen feedback in the digital age. Built by Code for America in partnership with the City of Philadelphia.
    </p>

    <h2>Team</h2>
    <div class="shoutout"><img class="biopic" src="/assets/bio-alex.jpg"><em>Alex Yule</em></div>
    <div class="shoutout"><img class="biopic" src="/assets/bio-michelle.jpg"><em>Michelle Lee</em></div>
	<div class="clearfix"></div>
    </p>

    <h2>Friends</h2>
    <div class="shoutout">Philadelphia City Planning Commission</div>
    <div class="shoutout">Mayor's Office, City of Philadelphia</div>
    <div class="shoutout">Knight Foundation</div>
    <div class="shoutout">Circle Graphics</div>
    <div class="shoutout">Code for America 2012 Fellows</div>
    <div class="clearfix"></div>

    <h2>We'd love to hear from you</h2>
    <p>
    	<span class="comment">General info?</span>
    	<a href="mailto:textizen@codeforamerica.org">textizen@codeforamerica.org</a>
    </p>
    <p>
    	<span class="comment">Textizen in your city?</span>
    	<a href="">Get in touch</a>
    </p>
    </div>
</div>