<div class="row">
	<div class="span8 main">
	<h2>Getting Started With Textizen</h2>
	<p>Textizen is a service to help city officials, community leaders, and local organizations get feedback from the public via SMS to make more data-driven, representative decisions.</p>
	<p>To run Textizen, you will need (1) questions and (2) distribution plans. Once our team sets you up with an account, you’ll be able to access an online portal to create surveys, see responses, and export data.</p>

	<h2>How Textizen Can Work For You</h2>
	<p>Because Textizen displays responses in real time <i>and</i>catalogues them for later use, you can use Textizen in a variety of situations depending on your needs. Here are some examples:
		<ul>
			<li>
				<b>Instant feedback</b>
				<br>At high-turnout meetings, take a straw poll of how attendees feel on an issue before allocating discussion time
			</li>
			<li>
				<b>Feedback over a set period of time</b>
				<br>Before making a planning or policy decision, set up a campaign for public input
			</li>
			<li>
				<b>Ongoing feedback</b>
				<br>Get feedback about how your organization is serving your community
			</li>
		</ul>
	</p>
	<p>We’re excited to see how you’ll use it!</p>

	
	<h2>Creating Your Survey</h2>
	<p>Textizen allows you to ask 3 formats of questions:</p>
	<ul>
			<li>Open Ended</li>
			<li>Multiple Choice</li>
			<li>Yes/No</li>
	</ul>
	<p>After the first question, you can ask <b>followup questions</b> which are texted back after the first response, or <b>clarifying questions</b> which are triggered by certain responses. You can ask <b>up to 5 questions</b> per survey.</p>
	<p>Some tips to keep in mind:</p>
		<ol>
			<li>
				<b>Start with a question that gets people comfortable and wanting to engage</b>
				<br>A Yes/No question is low pressure and often a good way to get people hooked. 
			</li>
			<li>
				<b>Ask questions that give you the data you need</b>
				<br>If you want to know whether people support a new construction project, ask a Yes/No question. If you want to know why, an open ended question works best.
			</li>
			<li>
				<b>Consider including at least 1 open-ended question</b>
				<br>Sometimes the best feedback comes after the formal survey is over. If you start with Yes/No or Multiple Choice questions, you can follow with an open question such as “Why or why not?” or “Anything else to add?”
			</li>
			<li>
				<b>Limit your survey to 3-5 questions</b>
				<br>People are taking time to respond to your survey and using up their text limits (or paying per message) to text in their responses. Keeping your survey to 3-5 questions shows you respect these commitments while maintaining room to get the data you need.
			</li>
			<li>
				<b>When using a survey for instant feedback, create it beforehand.</b>
				<br>When you create a new survey, the phone number takes 2-5 minutes to go live. All other edits go live immediately. For example, create a survey for a city council meeting in the afternoon to ensure that it's live for the evening meeting.
		</ol>


	<h2>Advertising Your Survey</h2>
	<p>When you’ve completed your survey, it’s time to make it public! Where and how you advertise will vary based on what type of feedback you’re looking to get. Make sure your ads include:</p>
	<ul>
		<li>Initial survey question</li>
		<li>Phone number (automatically assigned when you create the survey)</li>
 	</ul>

 	<p>Some tips we’ve learned about advertising so far:</p>
 	<ul>
		<li><b>Use photos and examples.</b>They draw people in and them help understand what you’re doing and why.</li>
		<li><p>Waiting places are good.</p> It takes 30-60 seconds for users to read the ad, decide to respond, pull out the phone, and text in their response. Ads inside busses, for example, have performed very well.</li>
 	</ul>

 	<p>Textizen users have advertised their surveys via posters in bus shelters, small flyers on tabletop displays, flyers on public notice boards, handing out small flyers on the street, digital displays, and online forums. Other ideas? Email us!</p>

	<h2>Tracking Responses and Analyzing Data</h2>
	<p>Once your ads are live, you can see the responses by logging on to your account. The <b>dashboard</b> provides easy access to responses and graphs. </p>

	<p>For further analysis, you can export to CSV.</p>

	<p>We hope this guide helped you get started putting Textizen to use for you! Please email us at textizen@codeforamerica.org if you have any questions.</p>



	<h2>Change Log:</h2>
	<ul>
		<li>May 30, 2012: Initial Privacy Policy</li>
 	</ul>


	</div>
</div>