<div class="row">
	<div class="span8 main getstarted">
		<h2>1. Getting Started With Textizen</h2>
		<p>Textizen is a service to help city officials, community leaders, and local organizations get feedback from the public via SMS to make more data-driven, representative decisions.</p>
		<p>To run Textizen, you will need (1) questions and (2) distribution plans. Once our team sets you up with an account, you’ll be able to access an online portal to create surveys, see responses, and export data.</p>

		<h2>2. How Textizen Can Work For You</h2>
		<p>Because Textizen displays responses in real time <i>and</i>catalogues them for later use, you can use Textizen in a variety of situations. Here are some examples &mdash; we're excited to see how you make it work for you!
			<ul class="copylist">
				<li>
					<b>Feedback over a set period of time</b>
					<br>Before making a planning or policy decision, set up a campaign for public input
				</li>
				<li>
					<b>Instant feedback</b>
					<br>At high-turnout meetings, take a straw poll of how attendees feel on an issue before allocating discussion time
				</li>
				<li>
					<b>Ongoing feedback</b>
					<br>Get feedback about how your organization is serving your community
				</li>
			</ul>
		</p>

		
		<h2>3. Creating Your Survey</h2>
		<p>Textizen allows you to ask 3 formats of questions:
			<ul>
					<li>Open Ended</li>
					<li>Multiple Choice</li>
					<li>Yes/No</li>
			</ul>
		</p>
		<p>After the first question, you can ask <b>followup questions</b> which are texted back after the first response, or <b>clarifying questions</b> which are triggered by certain responses. You can ask <b>up to 5 questions</b> per survey.</p>

		<h2>4. Advertising Your Survey</h2>
		<p>When you’ve completed your survey, it’s time to make it public. Where and how you advertise will vary based on what type of feedback you’re looking to get. Make sure your ads include:</p>
		<ul>
			<li>Initial survey question</li>
			<li>Phone number (automatically assigned when you create the survey)</li>
	 	</ul>

	 	<p>Some tips we’ve learned about advertising so far:</p>
	 	<ul class="copylist">
			<li><b>Use photos and examples.</b><br>They draw people in and them help understand what you’re doing and why.</li>
			<li><b>Waiting places are good.</b><br> It takes 30-60 seconds for users to read the ad, decide to respond, pull out their phone, and text in their response. Longer if you're asking open-ended questions. Ads inside busses, for example, have performed very well.</li>
	 	</ul>

	 	<p>Textizen users have advertised their surveys via posters in bus shelters, small flyers on tabletop displays, flyers on public notice boards, handing out small flyers on the street, digital displays, and online forums. Other ideas? <a href="mailto:textizen@codeforamerica.org">Email us!</a></p>

	 	<img src="/assets/getstarted-adexamples.png">

		<h2>5. Tracking Responses and Analyzing Data</h2>
		<p>Once your ads are live, the <b>dashboard</b> provides easy access to responses and graphs. For further analysis, you can export your data to CSV.</p>
		<img src="/assets/getstarted-dashboard.png">
		<br><br>

		<p>We hope this helps you get started putting Textizen to use for you!</p>
		<p>What did you think of this Guide? During this beta, we want to hear as many of your comments, ideas, and questions as possible &mdash; your insight helps us build a better service. Please drop us a line at <a href="mailto:textizen@codeforamerica.org">textizen@codeforamerica.org</a>.</p>

	</div>

	<div class="span4 sidebar">
		<div class="sideblock">
			<h3>Five Tips for Great Surveys</h3>
			<ol class="copylist">
				<li>
					<b>Start with a question that gets people comfortable and wanting to engage</b>
					<br>A Yes/No question is low pressure and often a good way to get people hooked. 
				</li>
				<li>
					<b>Ask questions that give the data you need</b>
					<br>If you want to know whether people support a new construction project, ask a Yes/No question. If you want to know why, an open ended question works best.
				</li>
				<li>
					<b>Consider adding 1 open-ended question</b>
					<br>Sometimes the best feedback comes after the formal survey is over. If you start with Yes/No or Multiple Choice questions, you can follow with an open question such as “Why or why not?” or “Anything else to add?”
				</li>
				<li>
					<b>Limit your survey to 3-5 questions</b>
					<br>People are taking time to respond to your survey and using up their text limits (or paying per message) to text in their responses. Keeping your survey to 3-5 questions shows you respect these commitments while maintaining room to get the data you need.
				</li>
				<li>
					<b>When using a survey for instant feedback, create it beforehand.</b>
					<br>When you create a new survey, the phone number takes 2-5 minutes to go live. All other edits go live immediately. For example, create a survey for a city council meeting in the afternoon to ensure that it's live for the evening meeting.
				</li>
			</ol>
		</div>

		<div class="sideblock">
			<h3>FAQ</h3>
			<ul class="copylist nobullet">
				<li>
					<b>How much does Textizen cost?</b>
					<br>The software is free during our public beta. Distribution costs vary between $0 (electronic) to $30 (flyers) to $300 (multiple bus shelters). It’s up to you.
				</li>
				<li>
					<b>How do phone numbers work?</b>
					<br>Each survey has a unique phone number, which you share when you advertise the survey.
				</li>
				<li>
					<b>How do I share results?</b>
					<br>You can invite other users to your surveys; they’ll have the same access as you do. To share only the results, you can print the dashboard pages to PDF or export a CSV file.
				</li>
			</ul>
		</div>

		<div class="sideblock">
			<h3>Examples</h3>
			
			<ul class="qexamples bottomspace">
				<li>
					<b>What would make City Center more kid-friendly?</b> <span class="qtype">OPEN</span>
				</li>
				<li>
					How old is your child? If you have more than 1 child, use the youngest child's age. <span class="qtype">OPEN</span>
				</li>
				<li>
					What neighborhood do you live in? <span class="qtype">OPEN</span>
				</li>
			</ul>
			
			<ul class="qexamples bottomspace">
				<li>
					<b>Which of these photos should this vacant lot become?</b> <span class="qtype">MULTI</span>
					<br>
					<span class="caption">(Ad shows photos of 6 possible streetscapes.)</span>
				</li>
				<li>
					Anything else to add? <span class="qtype">OPEN</span>
				</li>
			</ul>
			
			<ul class="qexamples">
				<li>
					<b>Would you use rapid transit along the Boulevard to get to Center City?</b> <span class="qtype">YES / NO</span>
				</li>
				<li>
					<span class="caption">If Yes, Clarifying: </span> Would you be willing to transfer? <span class="qtype">YES / NO</span>
				</li>
				<li>
					What is your ZIP code? <span class="qtype">OPEN</span>
				</li>
				<li>
					Anything else to add? <span class="qtype">OPEN</span>
				</li>
			</ul>
		</div>
	</div>
</div>
