<div class="container">
  <%= render 'polls/header' %>

  <div class="row heroblock">
    
    <div class="span5 heroicon">
      <img src="/assets/icon-large.png">
    </div>
    <div class="span7 herotext">
      Meet Textizen
      <br>
      <div class="herocopy">
	      A powerful and delightfully simple system for citizen feedback &mdash; from all your citizens.
  	  </div>

    </div>
  </div>

  <div class="row">
  	<div class="span4 morecolumn">
	  	<div class="moretitle">Why we made it</div>
	  	<br>
	  	Neighborhood feedback metings are costly and time-consuming to run. Textizen can compliment them by providing...
	</div>

	<div class="span4 morecolumn">
	  	<div class="moretitle">Textizen in Your City</div>
	  	<br>
	  	Name, Email, Why you want to use Textizen
	  	<br>
	  	<br>Like all CFA projects, Textizen is open source. Go ahead, fork your own on Github.
	</div>

	<div class="span4 morecolumn">
	  	<div class="moretitle">In the news</div>
	  	<br>
	  	Neighborhood feedback metings are costly and time-consuming to run. Textizen can compliment them by providing...
    </div>
  </div>

</div>