<div class="row heroblock">

	<div class="span5 heroicon">
	  <img src="/assets/icon-large.png">
	</div>
	<div class="span7 herotext">
	  <img src="/assets/hometitle.png">
	  <br>
		  <div class="herocopy">
		      A powerful and delightfully simple system for citizen feedback in the digital age.
		  </div>
	</div>
</div>

<div class="row">
	<div class="span4 morecolumn">
	  	<div class="morebody">
	  		<div class="moretitle">Why we made it</div>
		  	What if City Hall could open its ears to many more people? Textizen asks questions on posters in public places, then collects citizen feedback via text message. Anyone with a minute and an opinion can reply.
		  	<br>
		  	<br>
		  	<!--Current city planning efforts mainly rely on in-person meetings for neighborhood feedback. For many citizens, logistics and time commitments prevent them from attending.
		  	<br>
		  	<br>
		  	-->
                        Watch our story in one animated minute:
                        <br>
                        <div class="video"><iframe src="http://player.vimeo.com/video/43448446" width="280" height="157" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                        <br>
		  	How Textizen can help:
		  	<ul class="inline-list">
			  	<li>Quantitative data for decision-making</li>
			  	<li>More representative voices</li>
			  	<li>Guidance on topics to discuss at in-person meetings</li>
		  	</ul>
		</div>
	</div>

	<div class="span4 morecolumn">
	  	<div class="morebody">
	  		<div class="moretitle">Textizen in your city</div>
		  	Textizen is currently available for civic use in the USA, for free. Interested? Get in touch:
		  	<br>
		  	<form action="https://docs.google.com/a/codeforamerica.org/spreadsheet/formResponse?formkey=dG5DSHh0alFJUmt0aUhQSUU3NTd3LWc6MQ&amp;ifq" method="POST" id="ss-form" class="form-inline">

			<br>
			<div class="errorbox-good">
			<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">Name
			</label>
			<label class="ss-q-help" for="entry_0"></label>
			<input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>
			<br> <div class="errorbox-good">
			<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Email
			</label>
			<label class="ss-q-help" for="entry_1"></label>
			<input type="text" name="entry.1.single" value="" class="ss-q-short" id="entry_1"></div></div></div>
			<br> <div class="errorbox-good">
			<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Why do you want to use Textizen?
			</label>
			<label class="ss-q-help" for="entry_2"></label>
			<textarea name="entry.2.single" rows="2" cols="80" class="formwhytext" id="entry_2"></textarea></div></div></div>
			<br>
			<input type="hidden" name="pageNumber" value="0">
			<input type="hidden" name="backupCache" value="">


			<div class="ss-item ss-navigate formsubmit"><div class="ss-form-entry">
			<input type="submit" name="submit" value="Submit" class="btn" id="contact-form-submit-btn"></div></div></form>
	  	</div>
	</div>

	<div class="span4 morecolumn">
		  	<div class="morebody">
		  		<div class="moretitle">@textizen on Twitter</div>
			  	<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#cfcfcf',
      color: '#000000'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#4a93c3'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('Textizen').start();
</script>
			  	
			    </div>
			</div>
		</div>
	</div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

