<div class="row">
	<div class="span12 main">
	<h2>Textizen Privacy Policy</h2>
	<p>Textizen connects city decision-makers with the voices of local residents. Any person who sees a prompt can submit their response or feedback by sending a text message.</p>
	<p>This policy describes how and when Textizen collects, uses, and shares your information. When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country you reside in or supply information from, you authorize Textizen to use your information in the United States and any other country where Textizen operates.</p>
	<p>Textizen is a project of Code for America Labs, Inc. If you have any questions or comments about this Privacy Policy, please contact us at <a href="mailto:textizen@codeforamerica.org">textizen@codeforamerica.org</a>.</p>


	<h2>Information Collection and Use:</h2>
	<p><b>Information Collected Upon Submitting Feedback:</b> When you submit feedback to Textizen, your phone number is collected. This is used to organize followup answers. Textizen will not publish except to signed-in survey creators, who have agreed not to share the phone numbers publicly. The feedback you provide may be anonymized and then publicly shared, individually or in aggregate. This information helps city departments make decisions based on your feedback.</p>
	<p><b>Information Collected Upon Creating Accounts:</b> When you create an account on Textizen, you provide some personal information, such as your name, password, and email address. We may use your contact information to send you information about our services or to market to you. This information will not be shared publicly. </p>
	<p>You may also provide organization information, such as the name of your organization. This may be used to contact you or to better describe our services.</p>
	<p><b>Log Data:</b> We use Google Analytics to record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites. Textizen uses Log Data to measure, customize, and improve our services.</p>
	
	<h2>Privacy Policy Changes</h2>
	<p>We may revise this Privacy Policy from time to time. The most current version will always be at <a href="http://textizen.org/privacy">http://textizen.org/privacy</a>. If we make any changes to this policy, we will provide notice on this page and to all registered editors. By continuing to access or use the Services after those changes become effective, you agree to the terms of the revised Privacy Policy.</p>

	<h2>Change Log:</h2>
	<ul>
		<li>May 30, 2012: Initial Privacy Policy</li>
 	</ul>

	</div>
</div>