<div class="row">
  <div class="span12 main">
  <div class="grouptitle">My Groups</div>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><i class="icon-th-large"></i> <%= link_to 'Details', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Group', new_group_path, :class => "btn btn-large" %>

  </div>
</div>