<div class="row header">
  <div class="span2"><a href="/"><img src="/assets/logo-color.png"></a></div>

  <div class="span6">
    <div class="nav">
      <%= link_to "HOME", "/welcome" %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "POLLS", polls_path %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "GROUPS", groups_path %>

    </div>
  </div>

  <div class="span4">
    <div class="login"><%= link_to "Logout", destroy_user_session_path, :method=>:delete %></div>
  </div>

</div>
