<fieldset class="item">
  <div>
    <%= f.label :text, "Option" %>
    <%= f.text_field :text %>
    <a href="#" class="remove">remove</a>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :_destroy %>

  </div>
</fieldset>
