<div class="row">
  <div class="span12 main">
    <div class="grouptitle"><%= @poll.groups.empty? ? 'Polls' : @poll.groups.first.name %> &rsaquo; <%= @poll.title %> &rsaquo; Edit</div>
    <%= render 'form' %>
  </div>
</div>
