<div class="container">
	<div class="row">
	    <div class="span8"><img src="/assets/logo.png"></div>
	    <div class="span4 login">Logout</div>
	</div>
	<div class="row">
	    <div class="span12 main">
	    	<h1>New poll</h1>

			<%= render 'form' %>

			<%= link_to 'Back', polls_path %>
		</div>
	</div>
</div>