.footer {
	margin-top: 3em;
	padding-top: 3em;
	padding-bottom: 2.8em;
	text-align: center;
	color:#666;
	position:relative;
	position-y:0;
}

.twittershare{
	margin-left: 30px;
	margin-top: 3px;
}

.twitter-follow{
	display:inline;
}