body {
	background-color: #EFEED0;
	background-image: url('/assets/header-ribbons.png');
	background-repeat: repeat-x;
	margin-top: 20px;
}

.login {
	text-align: right;
}

.main{
	margin-top: 2em;
}

.grouptitle{
	font-size: 115%;
	color: #838383;
}

.pollslist td {
	vertical-align: text-top;
	padding: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #BEBEA6;
}

.number{
	text-align: right;
	font-size: 120%;
	color: #999;
}

.polltext{
	font-size: 140%;
	font-weight:bold;
}


.titlequestion{
	font-size: 200%;
	font-weight:bold;
}