body {
	background-color: #efefef;
	background-image: url('/assets/header-ribbons.png');
	background-repeat: repeat-x;
	margin-top: 20px;
	padding-bottom: 20px;
}

.login {
	text-align: right;
}

.main{
	margin-top: 2em;
}

.grouptitle{
	font-size: 115%;
	color: #838383;
	margin-bottom: 1em;
}

.pollslist td {
	vertical-align: middle;
	padding: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #BEBEA6;
}

.pollslist tr:hover{
	cursor:pointer;
}

.number{
	text-align: right;
	font-size: 120%;
	color: #999;
}

.polltext{
	font-size: 140%;
	font-weight:bold;
}

.titlequestion{
	font-size: 200%;
	font-weight:bold;
	line-height:100%;
}

.horiz{
	background-color: #BEBEA6;
	height:1px;
	margin-top:1em;
	margin-bottom:1em;
}

i {
	margin-right: 0.3em;
}

hr {
	border:0;
	height: 1px;
	color: #DDDDDD;
	background-color: #DDDDDD;
}

.histogram-word{
	padding-right: 1em;
}

.histogram-count{
	padding-right: 0.3em;
}

.histogram-graph{
	height: 14px;
	background-color:#aaa; 
}

.login-panel{
	width: 520px;
	background-color: #DCD9D5;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2em;
	padding: 0 1em 0 1em;
}

.login-panel h2{
	padding-top: 18px;
	margin-left: 8px;
	margin-bottom: 0.6em;
}

.login-actions{
	border-top-color: #bbb;
	background-color:transparent;
}


/*
tr:nth-of-type(odd) {
  background-color:#F1DCA7;
}
*/
