body {
	background-color: #EFEED0;
	background-image: url('/assets/header-ribbons.png');
	background-repeat: repeat-x;
	margin-top: 20px;
	padding-bottom: 20px;
}

.login {
	text-align: right;
}

.main{
	margin-top: 2em;
}

.grouptitle{
	font-size: 115%;
	color: #838383;
}

.pollslist td {
	vertical-align: text-top;
	padding: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #BEBEA6;
}

.number{
	text-align: right;
	font-size: 120%;
	color: #999;
}

.polltext{
	font-size: 140%;
	font-weight:bold;
}

.titlequestion{
	font-size: 200%;
	font-weight:bold;
}

/* Show poll page */
.counterdash{
	background-color: #F1DCA7;
	padding:1.7em;
	text-align:center;
}

.responsecount{
	font-size:400%;
	font-weight:bold;
}

.settings{
	background-color: #BFDCD0;
	padding:0.7em;
}

.settingstext{
	font-size:120%;
	font-weight:bold;
}

.caption{
	color:#666;
	font-size:96%;
}