// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-email{
	margin: 4px 0 4px 0;
}

#emails{
	margin-left: 135px;
}

button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    float:none;
}

.groupname{
	font-size: 140%;
	font-weight:bold;
}

.groupsunit{
	margin-left: 157px;
}

.nopolls{
	margin-left: 25px;
}

.pollsol li{
	padding: 3px 0 3px 0;
}

.pollsol-text{
	font-size:120%;
}

.pollsol-text a:hover{
	text-decoration:none;
}

.link-destroy-group{
	display:inline;
	position:absolute;
	top: 28px;
	right: 32px;
}

.form-actions{
	position:relative;
}