.heroblock{
	margin-top: 2em;
	margin-bottom: 3em;
}

.heroicon{
	text-align:right;
}

.herotext{
	margin-top:8em;
}

.herocopy{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	font-size: 150%;
	line-height:120%;
	margin-top: 0.4em;
}

.morecolumn{
	height:200px;
	margin-right: -1px;
	border-right:1px solid #BFD5E0;
}

.morebody{
	padding: 1.2em 0.5em 0 0.5em;
}

.morecolumn:last-child{
	border-right:none
}

.moretitle{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	text-align:center;
	font-size:175%;
}

.mention{
	margin-bottom: 1.2em;
}