.heroblock{
	margin-top: 2em;
	margin-bottom: 3em;
}

.heroicon{
	text-align:right;
}

.herotext{
	margin-top:8em;
}

.herocopy{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	font-size: 150%;
	line-height:120%;
	margin-top: 0.4em;
}

.morecolumn{
	min-height:250px;
	margin-right: -1px;
	border-right:1px solid #BFD5E0;
}

.morebody{
	padding: 0 0.9em 0 0.5em;
}

.morecolumn:last-child{
	border-right:none
}

.moretitle{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	text-align:center;
	font-size:175%;
	margin-bottom:0.8em;
}

.mention{
	margin-bottom: 1.2em;
}

h2{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	font-size:175%;
	font-weight:normal;
	margin: 0.8em 0 -0.1em 0;
}

.comment{
	color:#666;
	font-weight:bold;
}

.profiles{
	clear:both;
}

.shoutout{
	width: 90px;
	height: 134px;
	margin-right:20px;
	margin-bottom:20px;
	margin-top:5px;
	background-color: #efefef;
	border: 1px solid #ddd;
	color: #666;
	text-align:middle;
	float:left;
}

.biopic{
	width:80px;
	height:80px;
	margin: 5px 0 0 5px;
}

.shoutout em {
    color: #666;
    display:table-cell;
    vertical-align:middle;
    font-size: 90%;
    font-style:normal;
    height:52px;
    vertical-align:middle;
    line-height: 110%;
    overflow: hidden;
    text-align: center;
}
