.heroblock{
	margin-top: 2em;
	margin-bottom: 3em;
}

.heroicon{
	text-align:right;
}

.herotext{
	margin-top:8em;
}

.herocopy{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	font-size: 150%;
	line-height:120%;
	margin-top: 0.4em;
}

.morecolumn{
	min-height:450px;
	margin-right: -1px;
	border-right:1px solid #BFD5E0;
}

.morebody{
	padding: 0 0.9em 0 0.5em;
}

.morecolumn:last-child{
	border-right:none
}

.moretitle{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	text-align:center;
	font-size:175%;
	margin-bottom:0.8em;
}

.mention{
	margin-bottom: 1.2em;
}

.formwhytext{
	width:251px;
}

.formsubmit{
	text-align:center;
	margin-left: -15px;
}

h2{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	font-size:175%;
	font-weight:normal;
	margin: 0.8em 0 -0.1em 0;
}

h3{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	font-size:140%;
	font-weight:normal;
	text-transform:uppercase;
	margin: 0.5em 0 0.2em 0.5em;
}

.comment{
	color:#666;
	font-weight:bold;
}

.profiles{
	clear:both;
}

.shoutout{
	width: 90px;
	height: 134px;
	margin-right:20px;
	margin-bottom:20px;
	margin-top:5px;
	background-color: #efefef;
	border: 1px solid #ddd;
	color: #666;
	text-align:middle;
	float:left;
}

.biopic{
	width:80px;
	height:80px;
	margin: 5px 0 0 5px;
}

.shoutout em {
    color: #666;
    width:90px;
    display:table-cell;
    vertical-align:middle;
    font-size: 90%;
    font-style:normal;
    height:52px;
    vertical-align:middle;
    line-height: 110%;
    overflow: hidden;
    text-align: center;
}

.twitter-follow{
	display:inline;
	margin-left:30px;
}

#cfa_corner_ribbon, #cfa_corner_ribbon a {
  background-position-x: -32px !important;
  width: 115px !important;

}

@media only screen and (max-device-width: 480px) {
  .login {
    margin-right: 95px;
  }
}

.video {
  border: 1px solid #ccc;
  margin-top: 3px;
}

.getstarted h2{
	margin-left: -1.1em;
}

.getstarted p,li{
	font-size: 107%;
}

.sidebar{
	margin-top: 3.3em;
}

.sidebar h3{
	margin: 0 0 3px 7px;
}

.sideblock{
	margin: 0 0 12px 0;
	padding:0.6em 1em 0.3em 0.5em;
	background-color: #CED8E6;
	height: 100%;
	font-size:92%;
}

.copylist li{
	line-height:125%;
	margin-bottom: 0.6em;
}

.qexamples {
	margin-top: 0.5em;
}

.bottomspace{
	margin-bottom: 1.5em;
}

.qexamples li{
	line-height:125%;
}

.nobullet{
	list-style-type:none;
	margin-left: 0.6em;
}

.press-section{
	margin-top: 3em;
}

.press-section h2{
	margin-bottom: 12px;
}

.presslogo{
	display:block;
	margin-top: 1.5em;
	margin-left:auto;
	margin-right: auto;
	margin-bottom:3em;
}

.speech-bubble-wrap{
   width: 286px;
   height: 78px;
   padding: 2px 0 4px 4px;
   background: #ccc;
}

.speech-bubble-wrap:after{
   content: "";
   border: solid 10px transparent; /* set all borders to 10 pixels width */
   border-top-color: #ccc; /* the callout */
   border-bottom: 0; /* we do not need the bottom border in this case */
   width: 0;
   height: 0;
   overflow: hidden;
   display: block;
   position: relative;
   bottom: -2px; /* border-width of the :after element + padding of the root element */
   margin: auto;
}

.speech-bubble{
   width: 270px;
   height:73px;
   padding: 10px 10px 1px 10px;
   margin: -6px -3px 0 0;
   background: #e1e1e1;
   color: #000;
   font: normal 17px 'Signika Negative', Helvetica, Arial, sans-serif;
   text-align: center;
/*   -moz-border-radius: 10px;
   -webkit-border-radius: 10px; 
   border-radius: 10px; */
}

.speech-bubble a,a:hover{
	text-decoration: none;
}

.speech-bubble:after{
   content: "";
   border: solid 10px transparent; /* set all borders to 10 pixels width */
   border-top-color: #e1e1e1; /* the callout */
   border-bottom: 0; /* we do not need the bottom border in this case */
   width: 0;
   height: 0;
   overflow: hidden;
   display: block;
   position: relative;
   bottom: -10px; /* border-width of the :after element + padding of the root element */
   margin: auto;
   z-index:100;
}

.speech-short{
    margin-bottom: 0.5em;
    padding-top: 0.8em;
}
