// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tempmargin{
	margin-left: 12.5em;
	margin-top: -1em;
	margin-bottom: 1em;
}

.alignbox{
	position:relative;
	top: -2px;
}

.form-horizontal 
{
	.help-inline 
	{
		color: #888;
		font-size: 0.9em;
	}
}

.item-container {
	position: relative;
	padding-top: 0px;
	margin-bottom: 30px;
	/* Prettifications */
	border:1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.49);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.49);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.49);

	.form-actions 	{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.nested-fields 	{
		/* Placeholder for contingency */
	}

	.question-entry	{
		border-bottom: 1px solid #ccc;
		position: relative;
		margin-top: 30px;
		padding-bottom: 20px;

		.top-right	{
			position: absolute;
			top: -30px;
			right: 0;
		}

		.add-option-button	{
			display:none;
		}
		.option-field	{
			margin-top: -5px;

			input {
				// width: 180px;
			}
			.yes-no {
				width: 60px;
			}
			.followup-field {
				margin-top: 20px;
				margin-left: 130px;
				margin-bottom: 2em;
			}
		}
		.add-followup-button {
			//display:none;
			//position: absolute;
			//right: 130px;
		}
		.add-followup-option-button {
			display:none;
		}

	}

	/* Generic stuff */
	.spacing {
		position: relative;
		margin-top: 30px;
		padding-bottom: 20px;
	}
	.label-bold 
	{
		font-weight: bold;
	}
	.disabled	
	{
		cursor: not-allowed;
		background-color: #EEE;
		border-color: #DDD;
	}

	
	
	
	
}