.dashboardresponsecount{
	font-size:200%;
	font-weight:bold;
}

#pollactions{
	text-align:right;
	font-size: 95%;
	white-space: nowrap;
}

.summaryviz{
	margin-top:1em;
}

.question{
	margin-top: 0.5em;
}

.optionslist{
	list-style-type:none;
}

.counterdash{
	background-color: #F1DCA7;
	padding:0.7em;
	text-align:center;
	height:200px;
}

.responsecount{
	font-size:500%;
	font-weight:bold;
	margin-top:1em;
	margin-left:-0.1em;
}

.settings{
	background-color: #BFDCD0;
	padding:0.7em;
	height:200px;
	position:relative;
}

.settingstext{
	font-size:120%;
	font-weight:bold;
	margin-top:-0.1em;
	margin-bottom:0.5em;
}

.settings .btngroup{
	position:absolute;
	bottom:1em;
}

.caption{
	color:#666;
	font-size:96%;
}

.summarysectiontitle{
	font-weight:bold;
}

.download{
	float:right;
	margin: 0.5em 0 1.5em 0;
	text-align:right;
}

.histogram{
	margin-bottom:12px;
}

.histogram-word{
	padding-right: 1em;
}

.histogram-count{
	padding-right: 0.3em;
}

.histogram-graph{
	height: 14px;
	background-color:#aaa; 
}

.nested-fields {
	border-left: 2px solid #ccc;
	padding-left: 10px;
}

.qtext {
	font-weight:bold;
	font-size:120%;
}

.qtype {
	font-size: 85%;
	padding-left: 0.7em;
	color:#999;
}

.optionvalue {
	padding-right: 0.3em;
	color:#999;
}