<div class="row header">
    <div class="span4"><a href="/welcome"><img src="/assets/logo-color.png"></a></div>
    <div class="span8">
    	<div class="login">Have an account? <%= link_to "Sign in", new_user_session_path %></div>
    </div>
</div>