<% if flash[:notice] %>
  <div class="alert alert-info fade in" data-alert="true">
    <a class ="close" data-dismiss="alert" href="#">×</a>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:warning] %>
  <div class="alert fade in" data-alert="true">
    <a class ="close" data-dismiss="alert" href="#">×</a>
    <%= flash[:warning] %>
  </div>
<% end %>
<% if flash[:error] || flash[:alert] %>
  <div class="alert alert-error fade in" data-alert="true">
    <a class ="close" data-dismiss="alert" href="#">×</a>
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% else %>
      <%= flash[:alert] %>
    <% end %>
  </div>
<% end %>