	<div class="row">
		<div class="footer">
		
		<a href="/about">About</a> · <a href="/privacy">Privacy</a> · <a href="http://www.twitter.com/textizen">FAQ on @textizen</a>
		<br>
		a project of <a href="http://codeforamerica.org/">Code for America</a> · Fork me on <a href="http://github.com/codeforamerica/textizen">GitHub</a>
		<br>
		<div class="twittershare">
				<a href="https://twitter.com/Textizen" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @Textizen</a>
				&nbsp;
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://textizen.com" data-text=".@Textizen: citizen feedback for the digital age. New project from @codeforamerica" data-related="Textizen" data-hashtags="cfaphl" data-dnt="true">Tweet</a> 
		</div>
		</div>

	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
